/.ipynb_checkpoints/
/Scrapped_videos_csv\rutube_videos_pages(291,300).csv/
/Scrapped_videos_csv\rutube_videos_pages(1,1).csv/
/Scrapped_videos_csv\rutube_videos_pages(1,10).csv/
/Scrapped_videos_csv\rutube_videos_pages(11,20).csv/
/Scrapped_videos_csv\rutube_videos_pages(21,30).csv/
/Scrapped_videos_csv\rutube_videos_pages(41,50).csv/
/Scrapped_videos_csv\rutube_videos_pages(51,60).csv/
/Scrapped_videos_csv\rutube_videos_pages(121,180).csv/
/Scrapped_videos_csv\rutube_videos_pages(181,190).csv/
/Scrapped_videos_csv\rutube_videos_pages(191,200).csv/
/Scrapped_videos_csv\rutube_videos_pages(201,210).csv/
/Scrapped_videos_csv\rutube_videos_pages(211,220).csv/
/Scrapped_videos_csv\rutube_videos_pages(221,230).csv/
/Scrapped_videos_csv\rutube_videos_pages(231,240).csv/
/Scrapped_videos_csv\rutube_videos_pages(241,250).csv/
/Scrapped_videos_csv\rutube_videos_pages(251,260).csv/
/Scrapped_videos_csv\rutube_videos_pages(261,270).csv/
/Scrapped_videos_csv\rutube_videos_pages(271,280).csv/
/Scrapped_videos_csv\rutube_videos_pages(281,290).csv/
/Scrapped_videos_csv\rutube_videos_pages(291,300).csv/